@model Tuple<List<project_D.Models.Department>, List<project_D.Models.Data>, project_D.Models.Data, bool, project_D.Models.Department>;
@{
    ViewData["Title"] = "Admin Page";
}

<div class="row">
    <div class="col-sm-12 col-md-4">
        <p class="">
            Departments
            <br> <a href="/Admin">Totaal</a>
            @foreach (var department in Model.Item1)
            {
                string link = "/Admin/" + department.DepartmentID;
                <br> <a href=@link>@(department.DepartmentID). @(department.Name)  </a>
            }
        </p>
    </div>

    <div class="col-sm-12 col-md-8">

        @if (Model.Item4)
        {
            <h6>Totaal</h6>
            <form asp-action="EnergyGenerationAdjustment">
                <table class="table">
                    <thead class="">
                    <th>Dag</th>
                    <th>Energieverbruik</th>
                    <th>Gasverbruik</th>
                    <th>Opgewekte energie</th>
                    </thead>
                    @foreach (var data in Model.Item2)
                    {
                        //show al data
                        double sum = data.EnergyGenAdjustment + data.EnergyGenerated;
                        <tr>
                            <td>@data.Date</td>
                            <td>@data.EnergyConsumption</td>
                            <td>@data.GasConsumption</td>
                            <input typeof="text" name="keys" value="@(data.Date)" type="hidden" />
                            <td>@data.EnergyGenerated + <input value="@(data.EnergyGenAdjustment)" name="adjustments" type="number" />   =   @(sum)</td>
                        </tr>
                    }
                    <tr>
                        <th rowspan="1">Totaal:</th>
                        <td>@Model.Item3.EnergyConsumption</td>
                        <td>@Model.Item3.GasConsumption</td>
                        <td>@Model.Item3.EnergyGenerated</td>
                    </tr>
                </table>
                <button type="submit" class="btn btn-primary">Opslaan</button>
            </form>
            <button onclick="window.location.href = '/Admin/Export';" class="btn btn-primary">Exporteren</button>



        } else
        {
            <table class="table">
                <thead>
                <th>Dag</th>
                <th>Energieverbruik</th>
                <th>Gasverbruik</th>
                </thead>
                @foreach (var data in Model.Item2)
                {
                    //show al data
            <tr>
                <td>@data.Date</td>
                <td>@data.EnergyConsumption</td>
                <td>@data.GasConsumption</td>
            </tr>}
                <tr>
                    <th rowspan="1">Totaal:</th>
                    <td>@Model.Item3.EnergyConsumption</td>
                    <td>@Model.Item3.GasConsumption</td>
                </tr>
            </table>
        }
    </div>
</div>


<script>
    const numInputs = document.querySelectorAll('input[type=number]')

    numInputs.forEach(function (input) {
        input.addEventListener('change', function (e) {
            if (e.target.value == '') {
                e.target.value = 0
            }
        })
    })
</script>