@model Tuple<List<project_D.Models.Department>, List<project_D.Models.Data>, project_D.Models.Data, bool, project_D.Models.Department>;
@{
    ViewData["Title"] = "Admin Page";
}

<div class="row">
    <div class="col-sm-12 col-md-4">
        <p class="">
            Departments
            <br> <a href="/Admin">Totaal</a>
            @foreach (var department in Model.Item1)
            {
                string link = "/Admin/" + department.DepartmentID;
                <br> <a href=@link>@(department.DepartmentID). @(department.Name)  </a>
            }
        </p>
    </div>

    <div class="col-sm-12 col-md-8">

        @if (Model.Item4)
        {
            <h6>Totaal</h6>
            <form asp-action="EnergyGenerationAdjustment">
                <table class="table">
                    <thead class="">
                    <th>Dag</th>
                    <th>Energieverbruik (kWh)</th>
                    <th>Gasverbruik (m^3)</th>
                    <th>Opgewekte energie (kW)</th>
                    <th colspan="4"></th>
                    </thead>
                    @foreach (var data in Model.Item2)
                    {
                        //show al data
                        double sum = data.EnergyGenAdjustment + data.EnergyGenerated;
                        <tr>
                            <td>@data.Date</td>
                            <td>@data.EnergyConsumption</td>
                            <td>@data.GasConsumption</td>
                            <input typeof="text" name="keys" value="@(data.Date)" type="hidden" />
                            <td>@data.EnergyGenerated</td>
                            <td> + </td>
                            <td><input value="@(data.EnergyGenAdjustment)" name="adjustments" type="number" /></td>
                            <td> = </td>
                            <td>@(sum)</td>
                        </tr>
                    }
                    <tr>
                        <th colspan="1"><strong>Totaal:</strong></th>
                        <td>@Model.Item3.EnergyConsumption</td>
                        <td>@Model.Item3.GasConsumption</td>
                        <td colspan="4"></td>
                        <td>@Model.Item3.EnergyGenerated</td>
                    </tr>
                </table>
                <button type="submit" class="btn btn-primary">Opslaan</button>
                <button onclick="window.location.href = '/Admin/Export';" class="btn btn-primary">Exporteren</button>
            </form>
            



        } else
        {
            <h6>@(Model.Item5.Name)</h6>
            <form asp-action="EnergyAndGasAdjustments">
                <table class="table">
                    <thead>
                    <th>Dag</th>
                    <th colspan="5">Energieverbruik (kWh)</th>
                    <th colspan="5">Gasverbruik (m^3)</th>
                    </thead>
                    @foreach (var data in Model.Item2)
                    {
                        double sum1 = data.EnergyConsumption + data.EnergyAdjustment;
                        double sum2 = data.GasConsumption + data.GasAdjustment;
                        //show al data
                        <tr>
                            <td>@data.Date</td>
                            <input typeof="text" name="keys" value="@(data.Date)" type="hidden" />
                            <td>@data.EnergyConsumption</td>
                            <td> + </td>
                            <td><input value="@(data.EnergyAdjustment)" name="energyAdjustments" type="number" /></td>
                            <td> = </td>
                            <td>@(sum1)</td>
                            <td>@data.GasConsumption</td>
                            <td> + </td>
                            <td><input value="@(data.GasAdjustment)" name="gasAdjustments" type="number" /></td>
                            <td> = </td>
                            <td>@(sum2)</td>
                        </tr>
                    }
                    <tr>
                        <th colspan="5"><strong>Totaal:</strong></th>
                        <td colspan="5">@Model.Item3.EnergyConsumption</td>
                        
                        <td colspan="1">@Model.Item3.GasConsumption</td>
                    </tr>
                </table>
                <input type="hidden" / name="departmentId" value="@(Model.Item5.DepartmentID)">
                <button type="submit" class="btn btn-primary">Opslaan</button>

                @{string link = "/Admin/Export/" + Model.Item5.DepartmentID;}
                
                <button onclick="window.location.href = '@(link)';" class="btn btn-primary">Exporteren</button>
            </form>
            
        }
    </div>
</div>


<script>
    const numInputs = document.querySelectorAll('input[type=number]')

    numInputs.forEach(function (input) {
        input.addEventListener('change', function (e) {
            if (e.target.value == '') {
                e.target.value = 0
            }
        })
    })
</script>