@model Tuple<string, string, string, string, string> 
@{
    ViewData["Title"] = "Home Page";
}
<!-- days, energie, gas, energieBesparing, gasBesparing -->

<div>
    <div class="row">
        @* <div class="col-sm-12 col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Statistieken</h5>
                    <span class="card-text">Statistieken in een oogopslag</span>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">60/400 Lampen aan</li>
                    <li class="list-group-item">60/400 Sensoren aan</li>
                    <li class="list-group-item">60/400 Thermostaten aan</li>
                </ul>
            </div>
        </div> *@

        <div class="col-sm-12 col-md-6 my-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Energie verbruik</h5>
                    <canvas id="myChart" height="250" width="400"></canvas>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 my-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Gas verbruik</h5>
                    <canvas id="myChart2" height="250" width="400"></canvas>
                </div>
            </div>
        </div>

    </div>
    <div class="row">

        <div class="col-sm-12 col-md-6 my-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Energie besparing</h5>
                    <canvas id="myChart3" height="250" width="400"></canvas>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 my-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Gas besparing</h5>
                    <canvas id="myChart4" height="250" width="400"></canvas>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col">
            <h2>Opgewekte energie: 42kWh</h2>
        </div>
        
    </div>
</div>
<script>
    let dagen = @Html.Raw(Json.Serialize(@Model.Item1));
    let energie = @Html.Raw(Json.Serialize(@Model.Item2));
    let gas = @Html.Raw(Json.Serialize(@Model.Item3));
    let energieBesparing = @Html.Raw(Json.Serialize(@Model.Item4));
    let gasBesparing = @Html.Raw(Json.Serialize(@Model.Item5));
    dagen = JSON.parse(dagen)
    energie = JSON.parse(energie)
    gas = JSON.parse(gas)
    energieBesparing = JSON.parse(energieBesparing)
    gasBesparing = JSON.parse(gasBesparing)

    // Charts
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: dagen,
        datasets: [{
            label: 'Energie Verbruik',
            data: energie,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(75, 192, 192, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(75, 192, 192, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
var ctx = document.getElementById('myChart2').getContext('2d');
    var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: dagen,
        datasets: [{
            label: 'Gas Verbruik',
            data: gas,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(75, 192, 192, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(75, 192, 192, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
var ctx = document.getElementById('myChart3').getContext('2d');
    var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: dagen,
        datasets: [{
            label: 'Energie Besparing',
            data: energieBesparing,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(75, 192, 192, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(75, 192, 192, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
var ctx = document.getElementById('myChart4').getContext('2d');
    var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: dagen,
        datasets: [{
            label: 'Gas Besparing',
            data: gasBesparing,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(75, 192, 192, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(75, 192, 192, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
