@model IEnumerable<project_D.Models.Data>

@{
    ViewData["Title"] = "Index";
}

<h1>Data</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EnergyConsumption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GasConsumption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnergyGenerated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GasAdjustment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnergyAdjustment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnergyGenAdjustment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentID)
            </th>
            <th colspan="3"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnergyConsumption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GasConsumption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnergyGenerated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GasAdjustment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnergyAdjustment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnergyGenAdjustment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-redirect="Edit" asp-route-id="@item.DataID">Edit</a><!--Should be restricted access for admin only-->
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.DataID">Details</a>
            </td>
            <td>
                <a asp-action="Delete" asp-route-redirect="Delete" asp-route-id="@item.DataID">Delete</a><!--Should be restricted access for admin only-->
            </td>
        </tr>
}
    </tbody>
</table>
