@model IEnumerable<project_D.Models.Data>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EnergyConsumption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GasConsumption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnergySaving)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GasSaving)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnergyConsumption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GasConsumption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnergySaving)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GasSaving)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DataID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DataID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DataID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
